* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;

}

header {
    padding: 25px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(33, 36, 36);
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 a {
    font-weight: bold;
    text-align: left;
    margin: 0;
    color: white;
    font-style: italic;
    text-decoration: none;
}

header nav ul {
    list-style: none;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header nav ul li a {
    margin: 0 30px;
    font-size: 1.5vw;
    font-weight: 200;
    color: white;
    text-decoration: none;
}

header nav ul li a:hover {
    background: tan;
    color: white;
    border-radius: 10px;
    text-shadow: none;
    padding: 10px;
  }

.hero {
    margin: 0 auto;
    width: 100%;
    height: 700px;
    background-image: url('../images/drone-forest.jpg');
    background-position: 100%;
    background-attachment: fixed;
    background-size: cover;
}

.hero h2 {
    margin: 250px 350px;
    padding: 10px;
    font-size: 85px;
    font-style: italic;
    line-height: 1.2;
    border-radius: 15px;
    background-color: rgba(33, 36, 36, .5);
    width: 950px;
    height: 50%;
    display: inline-block;
    text-align: center;
    align-items: center;
    
}

footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(33, 36, 36);
    border: 15px double rgb(104, 101, 101);
    
}
footer div {
    display: flex;
    flex-wrap: wrap;
    margin: 0 30px;
    padding: 40px 35px;
    color: white;
    font-size: 30px;
    text-overflow: inherit;
}
footer div h4 {
    justify-content: space-between;
}

footer div a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    background: tan;
    color: white;
    border-radius: 10px;
    text-shadow: none;

  }

footer h2 {
    font-size: 45px;
    font-style: italic;
    padding: 30px 45px;
    border-right: 3px solid white;
}


#display {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    height: 1200px;
    background-color: rgb(33, 36, 36);
    position: relative;
    justify-content: space-between;
    flex-wrap: wrap;
}


.about-me {
    font-size: 35px;
    padding: 20px;
    width: 300px;
    height: 400px;
    margin: 0 auto;
    border-right: 5px solid white;
    position: absolute;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(33, 36, 36);
    margin-top: 10px;
}

.about-me-text {
    font-size: 28px;
    width: 1200px;
    height: 500px;
    padding: 35px 35px;
    margin-left: 390px;
    line-height: 2;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(104, 101, 101);
    
}

.work {
    font-size: 35px;
    padding: 70px;
    width: 300px;
    height: 450px;
    margin: 10px auto;
    border-right: 5px solid white;
    position: absolute;
    text-align: center;
    align-items: center;
    display: flex;
    background-color: rgb(33, 36, 36);
}

.work-box-1 {
    margin-top: 20px;
    margin-left: 390px;
    width: 590px;
    height: 200px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(104, 101, 101);
}

.work-box-1:hover{
    background-color: tan;
    border-radius: 20px;
    text-shadow: none;
    font-style: italic;
}
.work-box-1 p {
    margin: 0 auto;
    padding: 50px;
    color: white;
    align-items: center;
    text-align: center;
    font-size: 28px;
}

.work-box-2 {
    margin-top: 20px;
    margin-left: 1000px;
    width: 590px;
    height: 200px;
    text-align: center;
    background-color: rgb(104, 101, 101);
    position: absolute;
    display: flex;
    flex-wrap: wrap;
}

.work-box-2:hover{
    background-color: tan;
    border-radius: 20px;
    text-shadow: none;
    font-style: italic;
}

.work-box-3 {
    margin-top: 250px;
    margin-left: 390px;
    width: 590px;
    height: 200px;
    text-align: center;
    background-color: rgb(104, 101, 101);
    position: absolute;
    display: flex;
    flex-wrap: wrap;
}

.work-box-3:hover{
    background-color: tan;
    border-radius: 20px;
    text-shadow: none;
    font-style: italic;
}

.work-box-4 {
    margin-top: 250px;
    margin-left: 1000px;
    width: 590px;
    height: 200px;
    text-align: center;
    background-color: rgb(104, 101, 101);
    position: absolute;
    display: flex;
    flex-wrap: wrap;
}

.work-box-4:hover{
    background-color: tan;
    border-radius: 20px;
    text-shadow: none;
    font-style: italic;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS */

@media screen and (max-width: 980px) {
    header {
        justify-content: center;
        padding-bottom: 0;
        position: relative;
    }
    header h1 a {
        justify-content: center;
        width: 100%;
    }
    header nav ul {
        width: 100%;
        justify-content: center;
        margin-top: 15px;
    }
    header nav ul li a {
        font-size: 15px;
    }
    footer, footer div, footer div h4, footer h4, footer div a, footer h2 {
        text-align: center;
        width: 100%;
        padding: 10px;
    }
    .hero, .hero h2, #display, .about-me,.about-me-text, .work, .work-box-1, .work-box-2, .work-box-3, .work-box-4 {
        text-align: center;
        flex: 100%;
    }
}

@media screen and (max-width: 575px) {
    .hero h2 {
        width: 100%;
    }
    .work, .about-me {
        width: 95%;
    }
    footer {
        text-align: center;
        width: 100%;
    }
}